@{
    ViewBag.Title = "Dashboard - Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Trang Quản Trị</h2>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Học Viên</div>
                <div class="card-body">

                    <a href="@Url.Action("Index", "STUDENTs")" class="btn btn-light">Quản lý</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Giáo Viên</div>
                <div class="card-body">

                    <a href="@Url.Action("Index", "TEACHERs")" class="btn btn-light">Quản lý</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Lớp Học</div>
                <div class="card-body">

                    <a href="@Url.Action("Index", "CLASSes")" class="btn btn-light">Quản lý</a>
                </div>
            </div>
        </div>
    </div>
</div>
